<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OneToOneChat-application</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="main">

    <div class="left">
      <div class="left-top">
        <img src="https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <h3>abc</h3>
      </div>
      <div class="left-bottom">
        <div class="users">
          <img src="https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <h3>abc1</h3>
        </div>
        <div class="users">
          <img src="https://images.unsplash.com/photo-1599379126660-d10b7e1831c8?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <h3>abc1</h3>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="right-top">
        <img src="https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <h3>abc</h3>
      </div>
      <div class="right-bottom">
        <input type="text">
        <button>sent</button>
      </div>
    </div>

  </div>
  
</body>
</html>